/* CSS files add styling rules to your content */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

html,
body#sketch_body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body#home {
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  margin: 2em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
}

h1 {
  color: gray;
}

body#home header {
  margin-top: 80px;
}

select#sketch_selector {
  position: absolute;
  top: 20px;
  right: 10px;
}

a#sketch_code {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  opacity: 0.2;
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

a#sketch_code:hover {
  opacity: 0.8;
}
