/* CSS files add styling rules to your content */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

html,
body#sketch_body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body#home {
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  margin: 2em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
}

h1 {
  color: gray;
}

body#home header {
  margin-top: 80px;
}

select#sketch_selector {
  position: absolute;
  top: 20px;
  right: 10px;
}

#nav_buttons {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
}

.nav-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  opacity: 0.2;
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.nav-button:hover {
  opacity: 0.8;
}

.nav-button:not(:first-child) {
  margin-left: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

#console_toggle {
  position: absolute;
  top: -20px;
  right: 40px;
  background: rgba(0, 0, 0, 0.6);
  visibility: visible;
  width: 28px;
  height: 20px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}

#console_wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  color: limegreen;
  font-family: monospace;
  max-height: 200px;
  display: flex;
}

.gui-console {
  padding: 10px;
  overflow-y: auto;
  whitespace: pre-wrap;
}

.hidden .gui-console {
  /* weird bug when things initially load */
  padding: 0;
}

.log-message::before {
  content: '>  ';
}

.error-message::before {
  content: '❗️ ';
  color: red;
}

.error-message {
  color: crimson;
}

.warn-message::before {
  content: '⚠️ ';
  color: yellow;
}