<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Template's P5js Sketch</title>
    
    <link href="/style.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.js" integrity="sha512-cuCpFhuSthtmbmQ5JjvU7msRYynRI67jVHsQhTP8RY+H4BC9qa9kQJeHTomV9/QnOWJbDpLFKdbIHtqTomJJug==" crossorigin="anonymous"></script>
    
    <script type="module">
      import startSketchLoader from "/lib/sketch-loader.js";
      
      startSketchLoader("/templates/_template.js", document.getElementById("sketch_selector"));
    </script>
    
    <script type="module">
      import { guiConsole } from '/lib/gui-console.js';
      
      function startConsole() {
        guiConsole('console');
        
        document.getElementById('console_toggle').addEventListener('click', e => {
          document.getElementById('console_wrapper').classList.toggle('hidden');
        });
      }
      
      if (document.readyState === 'loading') {
        document.addEventListener('readyStateChange', e => { if (document.readyState !== 'loading') { startConsole(); } });
      } else {
        startConsole();
      }
    </script>
  </head>
  <body id="sketch_body">
    <main></main>
    <select id="sketch_selector">
    </select>
    <div id="nav_buttons">
      <a id="home_link" class="nav-button" href="/" title="Home">⬅</a>
    </div>
    <div id="console_wrapper" class="hidden">
      <div id="console_toggle">
        ...
      </div>
      <div id="console">
      </div>
    </div>
  </body>
</html>